</td>
</tr>
</table>
</td>
</tr>
<tr>
  <td>
    <table id="footer" width="100%" height="24" cellpadding="0" cellspacing="0">
      <tr>
        <td width="242" height="24">
        </td>
        <td width="34" height="24">
          <a href="https://www.facebook.com/leanincommunity">
            <img src="https://s3.amazonaws.com/leanin-emails/images/facebook.jpg" width="24" height="24">
          </a>
        </td>
        <td width="34" height="24">
          <a href="http://instagram.com/leaninorg">
            <img src="https://s3.amazonaws.com/leanin-emails/images/instagram.jpg" width="24" height="24">
          </a>
        </td>
        <td width="34" height="24">
          <a href="http://www.linkedin.com/groups/Lean-In-4828878?homeNewMember=&amp;gid=4828878&amp;trk=eml-grp-sub&amp;ut=02nLf6VVsIMRA1">
            <img src="https://s3.amazonaws.com/leanin-emails/images/linkedin.jpg" width="24" height="24">
          </a>
        </td>
        <td width="34" height="24">
          <a href="https://twitter.com/leaninorg">
            <img src="https://s3.amazonaws.com/leanin-emails/images/twitter.jpg" width="24" height="24">
          </a>
        </td>
        <td width="218" height="24">
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
</td>
</tr>
<tr>
  <td align="center" id="copyright">
    855 El Camino Real, Suite 350, Palo Alto CA 94301<br />
    &copy; Copyright 2016 LeanIn.Org <a href="http://leanincircles.org/account/manage-emails">Manage Emails</a>
  </td>
</tr>
</table>
</body>
</html>
