								</td>
							</tr>
						</table>
						</div><!-- /content -->

					</td>
					<td></td>
				</tr>
			</table><!-- /BODY -->

			<!-- FOOTER -->
			<table class="footer-wrap">
				<tr>
					<td></td>
					<td class="container">

							<!-- content -->
							<div class="content">
							<table>
							<tr>
								<td align="center">
									<p class="social">
										<a href="#"><img src="https://s3.amazonaws.com/leanin-emails/images/fb-icon.png" /></a>
										<a href="#"><img src="https://s3.amazonaws.com/leanin-emails/images/tw-icon.png" /></a>
										<a href="#"><img src="https://s3.amazonaws.com/leanin-emails/images/li-icon.png" /></a>
										<a href="#"><img src="https://s3.amazonaws.com/leanin-emails/images/ig-icon.png" /></a>
									</p>
									<p>855 El Camino Real, Suite 350, Palo Alto CA 94301 &copy; Copyright 2016</p>
									<p class="footer-links">
										<a href="#">LeanIn.org</a> &bull;
										<a href="#">Manage</a> &bull;
										<a href="#">Emails</a>
									</p>
								</td>
							</tr>
						</table>
							</div><!-- /content -->

					</td>
					<td></td>
				</tr>
			</table><!-- /FOOTER -->
		</td>
	</tr>
</table>

</body>
</html>
