<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://cdn.leanincircles.org/ui/_dist/email-primary.css"/>
    {{> styles }}
  </head>
  <body>
    <table align="center" width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" id="email-wrapper">
      <tr>
        <td align="center">
          <table id="email-content" width="600" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td>
                <table id="header" width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="480" align="left">
                      <a href="http://leanin.org">
                        <img src="https://s3.amazonaws.com/leanin-emails/images/logo.jpg" width="155" height="53">
                      </a>
                    </td>
                    <td width="120">
                      <p>#leanincircles</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table id="body" width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
