<div>
Hi there {{ firstName }} {{ serviceName }}'
<br>
'Micro Mail'
<br>
<b> 'code@firstandthird.com'
<br>
toName: '{{ firstName }} {{ lastName }}'
<br>
trackClick: {{ 'https://google.com' | trackClick({ tags: ['tag'], type: 'email.click'}) }}
</div>
