<html>
  <p>hi there {{firstName}}</p>
  <a href="{{ 'http://google.com?q=Girls+Who+Code&ui_name=friend' | trackClick({ tags: "template:template1,to:james@frag.com", userId: '894dj8' }) }}">Google</a>
  {{ trackingPixel | safe }}
</html>
